/*estilos y posiciones del menu desplegable*/
.header{
    position: absolute;
    top: 0px;
    left: 0%;
    margin: auto;
    background-color: rgb(202, 202, 202);
    width:  100%;
    height: 15%;
    font-family: "Roboto", sans-serif;
    border-color: black;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: rgb(0, 0, 0);
    color: bisque;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 2%;
}

.nav li a:hover{
    background-color: lightcoral;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

li{
    text-transform: uppercase;
}

/*estilos y posicionamiento de menu y logo*/
.logo{
    position: absolute;
    left: 2%;
    top: 15%;
    width: 15%;
    height: 65%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu{
    position: absolute;
    right: 1%;
    top: 15%;
    width: 60% ;
}
/*imagen de fondo*/
.fon{
    left: 0%;
    margin: 0px 0px;
    width: 100%;
    height: 500px;
}

.ibk{
    
    /*background-color: black;*/
    height: 100%;
    width: 100%;
    color: aliceblue;
}

.ibk p{
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 35%; /* Ajustar la posición vertical */
    left: 25%; /* Ajustar la posición horizontal */
    font-size: 40px;
}

p{
    text-transform: uppercase;   
}

/*noticias*/
.noticias{
    display: flex; /* Activar flexbox */
    flex-direction: row; /* Disponer elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos salten a la siguiente línea si es necesario */
    justify-content: space-around; /* Distribuir elementos uniformemente con espacio entre ellos */
    align-items: center; /* Alinear elementos verticalmente en el centro */
    background-color: rgba(175, 175, 175, 0.445);
    position: absolute;
    top: 80%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.ttn{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-transform: uppercase;
    width: 100%;
    height: 5%;
}

.not1{
    border-color: black;
    border-radius: 1%;
    margin: 5px 5px;
    background-color: azure;
    width: 20%;
    height: 35%;
}

.inot{
    width: 100%;
}

.textonoti{
    background-color: rgb(255, 0, 0);
    width: 70%;
    height: 20%;
    color: aliceblue;
}

.textonoti  p{
    font-size: 16px;
    text-align: center;
    width: 100%;
}

/*estilos y posicionamientos de equipo*/
.equipo{
    background-color: rgba(175, 175, 175, 0.445);
    position: absolute;
    top: 185%;
    left: 0%;
    width: 100%;
    height: 50%;   
}

.tt{
    display: flex;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-transform: uppercase;
    width: 100%;
    height: 20%;
}

.tt p{
    color: rgb(0, 0, 0);
    margin: 35px 10px;
}

.e{
    display: flex;
    /*background-color: rgba(175, 175, 175, 0.445);*/
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    height: 70%;
}

.e1{
    margin: 0px 35px;
    /*background-color: rgba(175, 175, 175, 0.445);*/
    width: 20%;
    height: 100%;
}

.e1 p{
    text-align: center;
}

.iq{
    margin: 0% 5%;
    width: 90%;
    height: 75%;
    border-radius: 140%;
}

/*estilos y posicionamientos publicaciones*/
.publicaciones{
    display: flex; /* Activar flexbox */
    flex-direction: row; /* Disponer elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos salten a la siguiente línea si es necesario */
    justify-content: space-around; /* Distribuir elementos uniformemente con espacio entre ellos */
    align-items: center; /* Alinear elementos verticalmente en el centro */
    background-color: rgba(175, 175, 175, 0.445);
    position: absolute;
    top: 240%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.ttp{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-transform: uppercase;
    width: 100%;
    height: 5%;
}

.pub1{
    border-color: black;
    border-radius: 1%;
    margin: 5px 5px;
    background-color: azure;
    width: 20%;
    height: 35%;
}

.ipub{
    width: 100%;
}

/*estilos y posicionamiento de proyectos*/
.proyectos{
    display: flex; /* Activar flexbox */
    flex-direction: row; /* Disponer elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos salten a la siguiente línea si es necesario */
    justify-content: space-around; /* Distribuir elementos uniformemente con espacio entre ellos */
    align-items: center; /* Alinear elementos verticalmente en el centro */
    background-color: rgba(175, 175, 175, 0.445);
    position: absolute;
    top: 345%;
    left: 0%;
    width: 100%;
    height: 50%;
}

.tty{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-transform: uppercase;
    width: 100%;
    height: 5%;
}

.pro1{
    border-color: black;
    border-radius: 1%;
    margin: 5px 5px;
    background-color: azure;
    width: 10%;
    height: 60%;
}

.pro1 P{
    text-align: center;
}

.ipro{
    width: 100%;
    height: 60%;
}